/.DS_Store
/SpellingJungle/.DS_Store
/SpellingJungle/SpellingJungle/.DS_Store
/SpellingJungle/SpellingJungle/Images/.DS_Store
/SpellingJungle/SpellingJungle/Images/animals/.DS_Store
/SpellingJungle/SpellingJungle/Sounds/.DS_Store
/TrashBlaster/.DS_Store
/TrashBlaster/TrashBlaster/.DS_Store
/TrashBlaster/TrashBlaster/Images/.DS_Store
/TrashBlaster/TrashBlaster/Images/junk/.DS_Store
/TrashBlaster/TrashBlaster/Images/junk_red/.DS_Store
/TrashBlaster/TrashBlaster/Images/skies/.DS_Store
/TrashBlaster/TrashBlaster/Sound/.DS_Store